<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">Bienvenue sur Aeris Launcher</span>
        <span id="welcomeDescription">Ce launcher est conçu pour les personnes ne possédant pas de compte Minecraft afin qu'elles aussi puissent profiter de l'éxperience unique de ce jeu. Le launcher promet une expérience de jeu améliorée par rapport à Minecraft classique, bien que la fonction Multijoueur soit limitée puisque les comptes ne sont pas Premiums.</span>
        <br>
        <span id="welcomeDescCTA">Vous êtes seulement à quelques clics d'une expérience inoubliable !.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>
